/* 
#contenedor_imagen{
    justify-content: center;
    display: flex;
} */


body {
    
    font-family: Arial, sans-serif;
    
  }.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  
  .song-card {
    background-color: #1A1A1A;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .song-image-container {
    background-color: #111;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(44, 40, 40, 0.2);
    text-align: center;
    align-items: center;
  }
  
  .song-image {
    width: 100%;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .song-details {
    text-align: center;
  }
  
  .song-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  audio {
    width: 100%;
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas en resoluciones medianas */
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* Cambiar a tres columnas en resoluciones más grandes */
    }
  }
  
  

 

  

  @media (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* Estilos para el contenido del footer en dispositivos móviles */
    .content-footer {
      display: flex;
      flex-direction: column; /* Cambia la dirección a vertical (columnas) */
      align-items: center; /* Centra horizontalmente los elementos */
      text-align: center; /* Centra el texto */
      padding: 10px;
    }
  
    .title-footer {
      display: inline-block;
      margin: 0;
      padding: 5px;
      font-weight: bold;
      font-size: 18px;
    }
  
    .container-svg {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
  
    .container-svg svg {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
    .contenido-imagen img {
      max-height: none; /* Anula la altura máxima */
      height: auto; /* Anula la altura automática */
    }
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
    footer {
        padding: 10px;
    }
    /* Estilos para el contenido del footer en dispositivos grandes */
  .content-footer {
    display: flex;
    flex-direction: column; /* Cambia la dirección a vertical (columnas) */
    align-items: center; /* Centra horizontalmente los elementos */
    text-align: center; /* Centra el texto */
    padding: 10px;
  }

  .title-footer {
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
  }

  .container-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .container-svg svg {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .contenido-imagen img {
    max-height: none; /* Anula la altura máxima */
    height: auto; /* Anula la altura automática */
  }
  }

  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
    footer{
      width:100%;
    }
    
    .contenido-imagen img {
      max-height: none; /* Anula la altura máxima */
      height: auto; /* Anula la altura automática */
    }
}





body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  min-height: 100vh; /* Esto asegura que el contenedor ocupe al menos el alto de la ventana */
  display: flex;
  flex-direction: column;
  background-color: #111827;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  
  bottom: 0;
  left: 0;
  
}

.container-svg a:nth-child(3) svg {
  transform: scale(1.4); /* Escala el tercer ícono (Spotify) */
  margin-right: 3px;
  margin-left: 13px;
}
  

.container-svg a:nth-child(4) svg{
  transform: scale(1.2);
}
.container-svg a:nth-child(5) svg {
    transform: scale(1.2); /* Escala los últimos dos íconos (Facebook y Twitter) */
}
.container-svg a:nth-child(1) svg {
  transform: scale(1.0); /* Escala el primer ícono (YouTube) */
}

.container-svg a:nth-child(2) img {
  transform: scale(0.9); /* Escala el segundo ícono (Instagram) */
}
/* Cambiar el fondo del reproductor de audio a transparente */




audio {
  
  /* Otros estilos según tus preferencias */
  color: rgb(255, 255, 255); /* Cambiar el color del texto a blanco, por ejemplo */
  /* Más estilos personalizados aquí */
}






/* Estilos para el reproductor de audio personalizado */
.song-card {
  display: flex;
  align-items: center;
}

.song-details {
  margin-left: 1rem;
}


/* Cambiar el fondo del reproductor de audio a un color personalizado */
.audio-player audio::-webkit-media-controls-panel {
  background: #333; /* Cambia el color de fondo según tu preferencia */
}

/* Cambiar el color de los botones de control */
.audio-player audio::-webkit-media-controls-button {
  color: white; /* Cambia el color de los botones según tu preferencia */
}

/* Cambiar el color del fondo de la barra de progreso */
.audio-player audio::-webkit-media-controls-timeline-container {
  background: #333; /* Cambia el color de fondo de la barra de progreso según tu preferencia */
}

/* Cambiar el color del botón de volumen en la barra de progreso */
.audio-player audio::-webkit-media-controls-volume-slider {
  background: #333; /* Cambia el color del fondo del botón de volumen según tu preferencia */
}

/* Estilo similar al reproductor de audio predeterminado del navegador */
.audio-player audio::-webkit-media-controls-panel {
  background: #1A1A1A; /* Color de fondo oscuro (#111) */
  border-radius: 0; /* Elimina la redondez */
  box-shadow: none; /* Elimina cualquier sombra */
  border: none; /* Elimina cualquier borde */
}
/* Estilo para los botones de control */
.audio-player audio::-webkit-media-controls-button {
  color: white; /* Cambia el color a blanco */
  border: none; /* Elimina cualquier borde */
  background: transparent; /* Fondo transparente */
}

/* Estilo para el fondo de la barra de progreso */
.audio-player audio::-webkit-media-controls-timeline-container {
  background: #1A1A1A; /* Cambia el color del fondo al mismo que el fondo del panel */
}

/* Estilo para el botón de volumen en la barra de progreso */
.audio-player audio::-webkit-media-controls-volume-slider {
  background: #1A1A1A; /* Cambia el color del fondo al mismo que el fondo del panel */
  border: none; 
}

.audio-player{
  margin: auto!important;
}
